<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @ticket.name %></h1>
    <p>
      Ticket hase been Created Successfully your ticket id is <p><%= @ticket.task_id %><p>
    </p>
  </body>
</html>