<div class="container">

<h1>Ticketing System</h1>
<p>A simple system for tracking incoming enquiries from customers with an easy to use interface for support staff to communicate with clients. The customers should be able to enter support tickets directly from the website which staff can then manage and reply to through a management interface.
</p>

</div>
